/* CSS reset */

/* set4 */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
} */


/* Other sets */
/* p {
    background-color: red;
}

.bala {
    border: 5px dashed blue;
}

.pandi {
    border: 5px dashed green;
} */